@model EnnemPro.Models.RegisterViewModel
@{
    ViewBag.Title = "";
}
<br />
<br />
<br />
<br />
<br />
<br />
<section id="hero" class="hero d-flex align-items-center">

    <div class="videobox">

        <video controls>
            <source width="360" height="315" src="~/Content/assets/img/images/konferanse-ennem-1700x660-lowbit.mp4" type="video/mp4">
        </video> <br>

    </div>
</section>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <br />
    <h2 style="color:blue">Lag en ny bruker.</h2>
    <section style="margin:0px 0px 0px 25px">
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Register" />
            </div>
        </div>
    </section>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
